/* Reset básico */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #f8f8f8;
    color: #333;
}

/* Conteúdo principal */
main {
    margin: 4.5px;
    padding: 22px 25px;
}

/* Botão de retorno a página principal */
.retornar {
    margin-top: 490px;
}
.botao-retorno {
    display: inline-block;
    padding: 6px 10px;
    background-color: #a5d2ff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.botao-retorno:hover {
    background-color: #1a252f;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px #00000033;
}

.botao-retorno:active {
    transform: translateY(0);
}