/* Reset básico */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #f8f8f8;
    color: #333;
}

/* Conteúdo principal */
main {
    margin: 30px;
    padding: 22px 25px;
}

.separador-conteudo {
    border-top: 2px solid #a5d2ff;
    margin: 5px;
    width: 100%;
}

/* Contexto da questão */
.contexto {
    border: 1px solid #1a252f;
    border-radius: 8px;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    max-width: 700px;
    width: 90%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.contexto-paragrafo, .enunciado {
    margin: 3.5px;
    padding: 5px;
    text-align: justify;
    hyphens: auto;
}

/*Resultado*/
.container-resolucao {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    
    max-width: 700px;
    width: 80%;
    box-sizing: border-box;
    
}

.input-button {
    display: inline-block;
    margin-inline: auto;
}

#fraseInput{
    background: #e0efff;
    width: 90%; 
    max-width: fit-content;
}

/* Container da "saida desejada"*/
.container-saida {
    margin: 3.5px;
    padding: 5px;
}

.saidas-desejadas {
    margin: 10px;
    padding: 0 15px;
}

/* Botão de retorno a página principal */
.retornar {
    margin-top: 35px;
}
.botao-retorno {
    display: inline-block;
    padding: 6px 10px;
    background-color: #a5d2ff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.botao-retorno:hover {
    background-color: #1a252f;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px #00000033;
}

.botao-retorno:active {
    transform: translateY(0);
}

